doctype html
html
    body
        h2 Thank you for your registration,
        p Please verify your email address (#{name})by clicking on the following link:
        p
            a(href="#{hashLink}") #{hashLink}